.my-hero{
    height:500px;
    margin: 20px 0 20px 0;
    
}

.box, .lonely-box, .nav_btn, .my-brand, .my-hero{
    background-color: bisque;
    border: solid 1px pink;
}

.box{
    height: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.lonely-box{
    height: 100px;
}

.nav_btn{
    height:100px;
    margin-top:100px;

}
.my-brand{
    height: 200px;
}